/* https://cdnjs.com/libraries/font-awesome */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --modal-duration: 3s;
  --primary-color: #30336b;
  --secondary-color: #be2edd;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "lato", sans-serif;
  margin: 0;
  transition: transform 1.2s ease;
}
body.show-nav {
  transform: translateX(200px);
}
nav {
  background-color: var(--primary-color);
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  z-index: 100;
  transform: translateX(-100%);
}
nav.show-nav {
  transform: translateX(0);
  transition: transform 0.9s ease;
}
nav .logo {
  padding: 30px 0;
  text-align: center;
}
nav .logo img {
  height: 105px;
  width: 105px;
  border-radius: 50%;
  border: 2px solid gold;
  /* box-shadow: 1px 1px 9px 12px rgb(255 235 0 / 60%); */
}

nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
nav ul li {
  border-bottom: 2px solid rgba(200, 200, 200, 0.1);
  padding: 20px;
}
nav ul li:first-of-type {
  border-top: 2px solid rgba(200, 200, 200, 0.1);
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}
header {
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
  font-size: 100%;
  padding: 30px 15px;
  text-align: center;
}
header h1 {
  margin: 0;
}
header p {
  margin: 30px 0;
}
button {
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 8px 12px;
}
button:focus {
  outline: none;
}
.toggle {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 150;
}
.toggle1 {
  background-color: var(--secondary-color);
  position: fixed;
  top: 10px;
  right: 20px;
  color: #fff;
  font-size: 15px;
}
.toggle1 a {
  color: #fff;
  text-decoration: none;
}
.cta-btn {
  padding: 12px 30px;
  font-size: 20px;
}
.container {
  padding: 15px;
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  margin-bottom: 0px;
}

.bott {
  background-color: var(--primary-color);
  color: #fff;
  padding-bottom: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  align-items: center;
}
.bott a {
  margin: 0 10px;
  color: #fff;
}

.contact {
  background-image: linear-gradient(
    64deg,
    rgb(19 129 221 / 97%) 19%,
    rgb(213 60 26 / 94%) 100% /*https://cssgradient.io/ */
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.contact a {
  color: #fff;
}
